/* This is a css file for home page which contains navbar, sidebar and main content.
page is divided in to 2 rows one for navbar and one for main content.
In main content there are 2 colums one for content and one for sidebar */

@import url('centraol.css');

body{
    box-sizing: border-box;
    min-height: 100vh;
    overflow-x: hidden;
}

.vertical-nav {
    min-width: 17rem;
    width: 17rem;
    height: 100vh;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
    z-index: 1;
}
.navbar-row{
    z-index: 2;
}

.navbar {
    z-index: 3; 
}

.page-content {
    width: calc(100% - 17rem);
    margin-left: 17rem;
    transition: all 0.4s;
} 
  
#sidebar.active {
    margin-left: -17rem;
}
  
#content.active {
    width: 100%;
    margin: 0;
}
  
.separator {
    margin: 2rem 0; 
}
  
.index {
    border-left: 1px solid white;
    overflow-y: auto;
}

.links a{
    width: 9rem;
}

.links a:hover{
    color: white;
}

/* submenus in sidebar */
.menu .item a{
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    display: block;
    padding: 5px 30px;
    line-height: 2em;

}
.menu .item a i{
    position: absolute;
    top: 0;
}
.menu .item a:hover{
    background: rgb(126, 126, 126);
    transition: 0.3s ease;
}

.menu .item .sub-menu{
    display: none;
}

.rotate{
    transform: rotate(90deg);
}

.selected{
    border: 2px solid white;
    border-radius: 10px;
}

.menu .item a .dropdown{
    position: absolute;
    right: 0;
    top: 0;
    margin: 13px 30px;
    transition: 0.3s ease;
}

.menu .item .sub-menu a{
    padding-left: 4rem;
}

#edit-preffered-language{
    background: rgba(129, 92, 92, 0.075);
    box-shadow: none;
	border-top: 2px solid black;
	border-left: 2px solid black;
	border-bottom: 2px solid grey;
	border-right: 2px solid grey;
}


/* old file css no bootstrap */
input[type=date] {
    background: rgba(129, 92, 92, 0.075);
    padding: 0px 1em;
    border-radius: 4px;
}
.form-group{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 1vw;
    margin-bottom: 2%;
}
.form-group-skills{
    display: flex;
    gap: 2vw;
    justify-content: end;
}

.skillinput{
    width: 65%;
}


.form-group label{
    width: 50%;
    text-align: right;
}
.input-css{
    display: flex;
    justify-content: left;
    width: 50%;
    /* margin-left: 10%; */
}

.form-group #editDOB{
    width: 100%;
}

.is-invalid {
    border: 1px solid red;
}

.invalid-feedback {
    color: red;
    display: none;
}
.navbar.py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.bg-primary{
    background-color: #283a4d;
}

.dropdown-menu.show{
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 12px;
    text-align: left;
    position: absolute;
    right: 0;
    left: auto;
    top: 90%;
}

.dropdown-item:hover{
    border: 1px solid black;
    border-radius: 12px;
}
.user-img{
    height: 2em;
    margin-top: 10px;
    cursor: pointer;
    /* width: 1em; */
}
#edit-details-form{
    margin: 0;
}
#edit-details-success{
    visibility: hidden;
    min-width: 250px;
    background-color: rgb(53, 172, 24);
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
    border-radius: 14px;
    padding: 16px;
    position: fixed;
    z-index: 6;
    right: 40px;
    top: 6rem;
}
#edit-details-success.show {
    visibility: visible !important;
    animation: fadein 0.5s, fadeout 0.5s 4.5s;
}


.error-message{
	display: none;
	color: red;
	
}
@keyframes fadein{
    from{
        right: 0;
        opacity: 0;
    }
    to{
        right: 40px;
        opacity: 1;
    }
}

@keyframes fadeout {
    from{
        right: 40px;
        opacity: 1;
    }
    to{
        right: 0;
        opacity: 0;
    }
}
h1{
    margin: 1px;
}
.is-invalid,
.invalid-feedback{
    display: none;
}
.view-modal-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.view-modal-body p {
    display: flex;
    width: 70%;
    justify-content: space-between;
}

.view-modal-body p strong {
    width: 50%;
    text-align: right;
}

.view-modal-body p span{
    text-align: left;
    width: 50%;
    margin-left: 10%;
}

@media (max-width: 768px) {
    #sidebar {
        /* small screens sidebar is hidden default */
        margin-left: -100%;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
        margin: 0;
    }
    #content.active {
        margin-left: 0;
        width: 100%;
    }
}