/* This is css file for signup page which contains properties for all signup fields */
 

@import url('centraol.css');

.wrapper{
    background-color: #2e2e2e;
}



input[type=date] {
    background: rgba(129, 92, 92, 0.075);
}

.signup-div {
	width: auto;
    height: 97vh;
	display: flex;
	flex-direction: column;
	align-items: center;
    background-color: #fff;
	border: #000000 2px solid;
	border-radius: 14px;
	box-shadow: 2px 4px 10px  #000000;
}


.btnclass{
    padding-left: 35%;
}

form{
    max-width: max-content;
    width: 100%;
}


